{% extends "base.html" %}
{% block content %}
    <div class="row summary-container">
        <div class="col-12 summary-header">
            <h1>{{ post.title }}</h1>
        </div>
        <div class="col-12 summary-content">
            <p>{{ post.content }}</p>
        </div>
        <div class="col-12 summary-footer">
            <div class="col-12 col-sm-8 float-left">
                <p><b>Published on:</b> {{ post.published_date }} by {{ post.author }}</p>
                <p><b>Views:</b> {{ post.views }} | <b>Tags:</b> {{ post.tags }}</p>
            </div>
            <div class="col-12 col-sm-4 float-right text-right">
                <p><a href="{% url 'get_posts' %}" class="btn btn-info">Back to Posts</a></p>
            </div>
        </div>
    </div>
    <hr>
    <div class="row summary-container">
        <div class="col-7 summary-header">
            <h2>Comments</h2>
        </div>
        <div class="col-5 summary-header text-right">
            {% if user.is_authenticated %}
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#commentModal">Add Comment</button>
            {% else %}
                <p class="request-login text-muted">Please <a href="{% url 'login' %}">Login</a> to comment.</p>
            {% endif %}
        </div>
        {% if comments %}
            {% for comment in comments %}
                <div class="col-12 summary-content">
                    <p><small class="text-muted">On {{ comment.posted_on }}, {{ comment.user.username }} said:</small></p>
                    <p>{{ comment.comment }}</p>
                    <hr>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <!-- Comment Modal -->
    <div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <form class="modal-content" role="form" method="post" id="comment-form" action="{% url 'post_detail' post.id %}">
                {% csrf_token %}
                <div class="modal-header text-center">
                    <h3 class="modal-title" id="commentModalLabel">New Comment</h3>
                </div>
                <div class="modal-body form-group">
                    <textarea class="form-control" id="comment" name="comment" placeholder="Type your comment here..." required></textarea>
                </div>
                <div class="modal-footer form-group">
                    <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" id="submit_comment_btn" name="commit" value="Add comment">
                </div>
            </form>
        </div>
    </div>
    <!-- End of Comment Modal -->
{% endblock %}