.summary-container {
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 0.5rem;
}

.summary-header {
    border-bottom: 1px solid black;
}

.summary-content {
    padding-top: 1rem;
}

.summary-footer {
    border-top: 1px solid black;
    padding-top: 1rem;
}

.logo-container {
    padding-bottom: 0;
    padding-top: 0;
    margin-right: 25px;
}
.logo {
    max-height: 3.5rem;
}

.nav-item {
    font-size: 1.75rem;
}

.logo-text {
    display: inline-block;
    margin-left: 1rem;
}

.request-login {
    margin-top: 6px;
}

.status-button,
.status-button:not(:disabled) {
    cursor: auto;
}
