.summary-container {
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
    padding-top: 0.5rem;
}

.summary-header {
    border-bottom: 1px solid black;
}

.summary-content {
    padding-top: 1rem;
}

.summary-footer {
    border-top: 1px solid black;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.logo-container {
    padding-bottom: 0;
    padding-top: 0;
    margin-right: 25px;
}
.logo {
    max-height: 3.5rem;
}

.nav-item {
    font-size: 1.75rem;
}

.logo-text {
    display: inline-block;
    margin-left: 1rem;
}

.request-login {
    margin-top: 6px;
}

/* BOOTSTRAP OVERRIDES */

.status-button,
.status-button:not(:disabled) {
    cursor: auto;
}

.status-button.btn-success:focus,
.status-button.btn-warning:focus,
.status-button.btn-dark:focus {
    box-shadow: none;
}

.status-button.btn-dark:not(:disabled):not(.disabled):active,
.status-button.btn-dark:hover {
    background-color: #343a40;
    border-color: #343a40;
}

.status-button.btn-warning:not(:disabled):not(.disabled):active,
.status-button.btn-warning:hover {
    background-color: #ffc107;
    border-color: #ffc107;
}

.status-button.btn-success:not(:disabled):not(.disabled):active,
.status-button.btn-success:hover {
    background-color: #28a745;
    border-color: #28a745;
}

.progress {
    height: 2.5rem;
    background-color: #8f8f8f;
    padding: 0;
    margin-bottom: 1rem;
    border-radius: 0.75rem;
}

.progress-bar {
    height: 40px;
    margin-bottom: 5px;
}

.w-90 {
    width: 90%;
}

/* ALERT OVERRIDES */

.alert-success {
    border-radius: 5px;
    margin: 5px;
}