{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap_tags %}
{% block content %}
    <div class="row summary-container align-bottom">
        <div class="col-{% if cart_items %}6{% else %}12{% endif %}">
            <h1>Cart</h1>
        </div>
        {% if cart_items %}
            <div class="col-6 text-right">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#stripeModal">
                    Checkout
                </button>
            </div>
        {% endif %}
    </div>
    <hr>
    {% if cart_items %}
        <div class="row summary-container">
            <div class="col-12">
                <h3>Total Payment: &pound;{{ total }}</h3>
                <p>If you are happy to contribute, simply click the Checkout button above and enter your card details to pay securely.</p>
            </div>
        </div>
    {% endif %}
    {% for item in cart_items %}
        <div class="row summary-container">
            <div class="col-8 summary-header">
                <h2>{{ item.title }}</h2>
            </div>
            <div class="col-4 summary-header">
                <form action="{% url 'remove_from_cart' item.id %}" method="POST" class="float-right">
                    {% csrf_token %}
                    <div class="controls form-inline">
                        <button class="btn btn-dark float-right">Remove Item</button>
                    </div>
                </form>
            </div>
            <div class="col-12 summary-content">
                <h3>Contribution Amount:</h3>
                <div>
                    <form action="{% url 'update_cart' item.id %}" method="POST" class="form-inline d-inline">
                        {% csrf_token %}
                        <div class="controls form-inline">
                            <span class="d-inline">&pound;</span>
                            <input class="form-control float-right" type="number" min="1" step="any" name="contribution_amount" value="{{ item.contribution_amount }}" required/>
                            <button type="submit" class="btn btn-primary contribute-button">Update Amount</button>
                        </div>
                    </form>
                </div>
                <h3>Feature description:</h3>
                <p>{{ item.description }}</p>
            </div>
        </div>
    {% empty %}
        <div class="row summary-container align-bottom">
            <div class="col-12">
                <h3>Your cart is empty. Please head over to the <a href="{% url 'features' %}">features</a> page and consider contributing to one of the features there. Alternatively, if you have an idea for a <a href="{% url 'add_feature' %}">feature</a>, please request it!</h3>
            </div>
        </div>
    {% endfor %}
    <!-- Payment Modal -->
    <div class="modal fade" id="stripeModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <form class="modal-content" role="form" method="POST" id="payment-form" action="{% url 'charge' %}">
                {% csrf_token %}
                <div class="modal-header text-center">
                    <h4 class="modal-title" id="stripeModalLabel">Unicorn Attractor Contribution</h4>
                </div>
                <div id="credit-card-errors" style="display:none">
                    <div class="alert-message block-message error" id="stripe-error-message"></div>
                </div>
                <div class="modal-body form-group">
                    {{ form | as_bootstrap }}
                </div>
                <div class="modal-footer form-group">
                    <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" id="submit_payment_btn" name="commit" value="Pay £{{ total }}">
                </div>
            </form>
        </div>
    </div>
    <!-- End of Payment Modal -->
{% endblock %}

{% block footer_js %}
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
    //<![CDATA[
    Stripe.publishableKey = "{{ key }}";
    //]]>
</script>
<script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock %}