{% extends "base.html" %}
{% load bootstrap_tags %}
{% block content %}
    <div class="row summary-container">
        <div class="col-12 summary-header">
            <h1>Request a Feature</h1>
        </div>
        <div class="col-12 summary-content">
            <form method="POST" class="post-form" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | as_bootstrap }}
                <button type="submit" class="btn btn-primary float-right" style="margin-left: 10px">
                    <i class="fa fa-check"></i> Save
                </button>
                <a href="{% url 'features' %}" class="btn btn-warning float-right">
                    <i class="fa fa-times"></i> Cancel
                </a>
            </form>
        </div>
    </div>
{% endblock %}