{% extends "base.html" %}
{% block content %}
    <div class="row summary-container align-bottom">
        <div class="col-6">
            <h1>Bugs</h1>
        </div>
        <div class="col-6 text-right">
            {% if user.is_authenticated %}
                <a href="{% url 'add_bug' %}" class="btn btn-primary">Report Bug</a>
            {% else %}
                <p class="request-login align-middle">Please <a href="{% url 'login' %}">Login</a> to report a bug</p>
            {% endif %}
        </div>
    </div>
    <hr>
    {% for bug in bugs|dictsortreversed:"num_votes" %}
        <div class="row summary-container">
            <div class="col-12 summary-header">
                <div class="col-7 float-left">
                    <h2><a href="{% url 'bug' bug.id %}">#{{ bug.id }} - {{ bug.title }}</a></h2>
                </div>
                <div class="col-5 float-left text-right">
                    <div class="btn btn-{{ bug.status_colour }} btn-header status-button">Bugfix Status: {{ bug.status }}</div>
                </div>
                <p class="fine-print col-12 float-left"><strong>Reported:</strong> {{ bug.created_on }} by {{ bug.created_by }}</p>
            </div>
            <div class="col-12 summary-content">
                <div class="col-12">
                    <p>{{ bug.description|truncatewords:30 }} <a href="{% url 'bug' bug.id %}">Read more</a></p>
                </div>
            </div>
            <div class="col-12 summary-footer">
                <div class="col-12">
                    <p>{{ bug.num_votes }} other {% if bug.num_votes > 1 or bug.num_votes == 0 %}people have{% else %}person has{%endif%} this issue.</p>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="row summary-container align-bottom">
            <div class="col-12">
                <div class="col-12">
                    <h2>No bugs found! Long may it stay that way...</h2>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}