{% extends 'base.html' %}
{% block content %}
    <div class="row summary-container align-bottom">
        <div class="col-6">
            <h2>Features</h2>
        </div>
        <div class="col-6 text-right">
            {% if user.is_authenticated %}
                <a href="{% url 'add_feature' %}" class="btn btn-primary">Request a feature</a>
            {% else %}
                <div class="request-login" title="You must be logged in to request a feature.">
                    <p class="align-middle">Please <a href="{% url 'login' %}">Login</a> to request a feature</p>
                </div>
            {% endif %}
        </div>
    </div>
    <hr>
    {% for feature in features %}
        <div class="row summary-container">
            <div class="col-12 summary-header">
                <div class="col-6 col-md-8 float-left">
                    <h3><a href="{% url 'feature' feature.id %}">{{ feature.title }}</a></h3>
                </div>
                <div class="col-6 col-md-4 float-left text-right">
                    <button class="btn btn-{{ feature.status_colour }} status-button">Development Status: {{ feature.status }}</button>
                </div>
                <p class="fine-print col-12 float-left"><strong>Requested:</strong> {{ feature.created_on }} by {{ feature.created_by }}</p>
            </div>
            <div class="col-12 summary-content">
                <div class="col-12">
                    <p>{{ feature.description|truncatewords:30 }} <a href="{% url 'feature' feature.id %}">Read more</a></p>
                </div>
            </div>
            <div class="col-12 summary-footer">
                <div class="col-12">
                    Development cost: £{{ feature.price }}
                    <div class="progress">
                        <div class="progress-bar bg-{% if feature.completion < 100 %}info{% else %}success{% endif %}" role="progressbar" aria-valuenow="{{ feature.completion }}" aria-valuemin="0" aria-valuemax="{{ feature.price }}">
                            <strong class="position-absolute w-90">£quantity - {{ feature.completion }}% funded</strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="row summary-container align-bottom">
            <div class="col-12">
                <div class="col-12">
                    <h4>No features found. If you have an idea for one, please request it!</h4>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}