{% extends 'base.html' %}
{% block content %}
    <div class="row summary-container">
        <div class="col-6 col-md-8 summary-header float-left">
            <h3>{{ feature.title }}</h3>
        </div>
        <div class="col-6 col-md-4 float-left text-right summary-header">
            <button class="btn btn-{{ feature.status_colour }} status-button">Development Status: {{ feature.status }}</button>
        </div>
        <div class="col-12 summary-content">
            <p>{{ feature.description }}</p>
        </div>
        <div class="col-12 summary-footer">
            <div class="col-12">
                Development cost: £{{ feature.price }}
                <div class="progress">
                    <div class="progress-bar bg-{% if feature.completion < 100 %}info{% else %}success{% endif %}" role="progressbar" aria-valuenow="{{ feature.completion }}" aria-valuemin="0" aria-valuemax="{{ feature.price }}">
                        <strong class="position-absolute w-90">£{% if feature.total_contributions == None %}0.00{% else %}{{ feature.total_contributions|floatformat:2 }}{% endif %} - {{ feature.completion }}% funded</strong>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <form action="{% url 'add_to_cart' feature.id %}" method="POST">
                    {% csrf_token %}
                    <div class="controls form-inline">
                        <span>&pound;</span>
                        <input class="form-control float-right" type="number" min="1" step="any" name="contribution_amount" value="0.00" required />
                        <button class="btn btn-info float-right">Contribute</button>
                    </div>
                </form>
            </div>
            <div class="col-12 col-md-8 float-left">
                <p><strong>Published on:</strong> {{ feature.created_on }} by {{ feature.created_by }}</p>
            </div>
            <div class="col-12 col-md-4 float-right text-center">
                {% if user == feature.created_by or user.is_staff == True %}
                <a href="{% url 'edit_feature' feature.id %}" class="btn btn-info">Edit feature</a>
                {% endif %}
                <a href="{% url 'features' %}" class="btn btn-info">Back to features</a>
            </div>
        </div>
    </div>
{% endblock %}